:root {
    --primary-color: #f8ba00;
    --dark: #1e1e1e;
    --light: #ffffff;
    --width-l: 70rem;
}

html {
    overflow: hidden;
    height: 100vh;
    height: 100svh;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    margin: 0;
    width: 100vw;
    width: 100svw;
    height: 100%;
    font-family: Roboto, sans-serif;
    color: var(--dark);
    text-align: justify;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

body * {
    transition: all 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: calc(100vh - 8rem);
    width: var(--width-l);
    position: relative;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    scroll-margin-top: 8rem;
}

nav {
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--light);
    box-shadow: 0 0 2rem 2rem var(--light);
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--light);
    box-shadow: 0 0 2rem 2rem var(--light);
    position: sticky;
    bottom: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: var(--width-l);
    height: 7rem;
    flex-shrink: 0;
    color: #000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700
}

nav #toggle-menu {
    font-size: 30px;
    cursor: pointer;
    color: var(--dark);
    margin-left: 40px;
    display: none;
}

nav #toggle-menu-check {
    display: none;
}

nav ul li {
    border-bottom: var(--light) solid 0.25rem;
}

nav ul li:hover {
    border-bottom: var(--primary-color) solid 0.25rem;
}

#intro {
    min-height: 100vh;
    min-height: 100svh;
    align-items: center;
    justify-content: space-between;
}

#intro * {
    margin: 0;
}

#intro a {
    padding: 0 1.25rem;
    border-radius: 2.6875rem;
    background: var(--primary-color);
    color: var(--light);
    font-size: 20px;
}

#intro>div {
    display: flex;
    width: 30.75rem;
    height: 19.125rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
}

#intro h1 {
    display: flex;
    font-family: Outfit;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    letter-spacing: 0.03125rem;
    margin-bottom: 1.5rem;
}

#intro img {
    width: 37.5rem;
    height: 37.5rem;
    flex-shrink: 0;
}

#more-about-me,
#my-skills,
#my-skills>div {
    display: flex;
    flex-direction: column;
}

#my-skills div {
    display: flex;
}

#my-skills>div div {
    justify-content: space-between;
    padding-top: 3rem;
    flex-wrap: wrap;
    gap: 4rem;
}

#my-experiences {
    flex-direction: column;
    min-height: fit-content;
}

#my-experiences>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#my-experiences h2,
#my-experiences h3,
#my-experiences h4 {
    margin: 0;
}

#my-experiences h2 {
    font-weight: bold;
    font-size: 20px;
}

#my-experiences h3 {
    font-weight: bold;
    font-size: 16px;
}

#my-experiences h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

#my-experiences p {
    font-size: 18px;
}

#my-experiences div {
    display: flex;
    flex-direction: column;
}

.experience {
    padding-top: 3rem;
}

.experience p {
    margin: 1rem 0 0 0;
}

.experience ul {
    margin: 0;
    font-size: 18px;
}

#testimonials {
    align-items: center;
    gap: 2rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
    min-height: 20rem;
    padding: 0.5rem 2rem;
    border-radius: 1.25rem;
    background: var(--light);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.testimonial:hover {
    transform-origin: top;
    transform: translateY(-10px);
}

.testimonial .wrapper {
    display: grid;
    grid-template-rows: 0fr
}

.testimonial .inner {
    overflow: hidden;
}

.testimonial:hover .wrapper {
    grid-template-rows: 1fr;
}

.testimonial img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial p {
    font-size: 18px;
    font-style: italic;
    line-height: 1.5rem;
    margin: 0;
    flex-grow: 1;
    hyphens: auto;
    padding: 0 3px;
}

.testimonial h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 0;
}

.testimonial h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 0;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#contact-me a {
    align-items: center;
    display: flex;
    gap: 1rem;
}

#contact-me i {
    font-size: 48px;
    width: 48px;
    text-align: center;
}

@media(prefers-reduced-motion) {
    body * {
        transition: none;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size: 20px;
    }
    #container {
        gap: 3rem;
    }
    section {
        width: 90svw;
        min-height: 100svh;
        flex-direction: column;
        scroll-margin-top: 0;
    }
    nav,
    footer {
        box-shadow: 0 0 1rem 1rem var(--light);
    }
    #more-about-me,
    #my-skills,
    #my-skills>div {
        justify-content: flex-start;
    }
    #intro {
        justify-content: center;
        gap: 2rem;
    }
    #intro h1 {
        font-size: 32px;
        padding-top: unset;
    }
    #intro>div {
        width: 100%;
        height: auto;
    }
    #intro img {
        width: 100%;
        height: auto;
    }
    nav {
        height: 0;
    }
    nav ul {
        display: none;
    }
    #more-about-me p {
        margin-top: 0;
    }
    #my-skills ul {
        margin-top: 0;
    }
    #my-skills div {
        flex-wrap: wrap;
    }
    #my-skills>div div {
        padding-top: 0;
        gap: 1rem;
    }
    #testimonials {
        min-height: fit-content;
        padding-top: 4rem;
    }
    .testimonial {
        width: auto
    }
    .testimonial .wrapper {
        grid-template-rows: 1fr;
    }
    #contact-me {
        align-items: flex-start;
        padding-bottom: 0;
    }
    #contact-me a {
        font-size: 16px;
        gap: 0;
    }
    #contact-me i {
        font-size: 20px;
        width: 35px;
    }
    #contact-me div {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
    }
}